*{
    margin: 0px;
    padding: 0px;
}
.body{
    margin: auto;
}
.green{
    width:700px;
    height: 400px;
    background-color: green;
    position: relative;
}
.red{
    width: 240px;
    height: 240px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    top: 18%;
    left: 32%;
}
.facebook {
    position: fixed;
    left: 97%;
    top: 40%;
    width: 10%;
    transition: 1s;
}
.facebook:hover {
    position: fixed;
    left: 90%;
    top: 40%;
    width: 10%;
    cursor: pointer;
}
.youtube{
        width: 29%;
        margin-top: 45%;
        margin-left: 213%;
        transition: 1s;
}
.youtube:hover{
    width: 29%;
    margin-top: 45%;
    margin-left: 191%;
    cursor: pointer;
}
.twiterr{
    margin-left: 213%;
    width: 23%;
    margin-top: 4px;
    transition: 1s;
}
.twiterr:hover{
    margin-left: 197%;
    width: 23%;
    margin-top: 4px;
    cursor: pointer;
}

